
.section--generic {
    margin-bottom: 2rem;
  
    &__player--zone {
      .player--list {
        display: grid;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 1.15rem;
  
        &.card-small {
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  
        }
  
        &.card-big {
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
      }
    }
  }
  