.play-list-body {
    padding: 1rem 2rem;
    li {
      margin-right: 5px;
    }
}
  
  .play-list-table-header {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    margin: 0;
    padding: 0;
    font-size: 90%;
    letter-spacing: 1px;
    border-bottom: solid 1px var(--color-2);
    padding-bottom: 0.5rem;
  
    li {
      text-transform: uppercase;
      color: var(--color-4);
      opacity: 0.7;
    }
  }
  
  .play-list-rows {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 4fr 4fr 1fr;
    margin: 0;
    padding: 1rem 0 0 0;
  
    .track-name-opacity {
      opacity: 0.7;
      font-weight: 300;
      &.duration{
        font-family: monospace;
      }
    }
  }
  
  .cover-section {
    display: flex;
    padding: 0;
  
    .cover-track {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
  
    .cover-info {
      padding: 0 1rem;
  
      .name-track-details {
        font-size: 80%;
        opacity: 0.7;
      }
    }
}
  