
<div class="side-bar">
    <div>
        <img class="varologo" src="assets/icons/varocode.svg">
    </div>
    <ul class="side-bar__list list-one">
        <li *ngFor="let item of menu.genericItems" [routerLink]="item.router">
            <div class="list-wrapper-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i [ngClass]="['uil',item.icon]"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    
    <ul class="side-bar__list list-two">
        <li *ngFor="let item of menu.extraItems">
            <div class="list-wrapper-item">
                <i [ngClass]="['uil',item.icon]"></i>
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
    <div class="side-bar__separator line-separator"></div>
    <ul class="side-bar__list list-three">
        <li *ngFor="let item of customOptions">
            <div class="list-wrapper-item">
                <span class="side-bar__list list-label">{{item.name}}</span>
            </div>
        </li>
    </ul>
</div>